# Ambiente virtual Python
venv/

# Arquivos gerados pelo script
resultados_lattes_ids.csv
checkpoint.csv
ids_convertidos.csv
lattes_unificado.log

# Cache do Python
__pycache__/
*.py[cod]

# Outros arquivos locais
.env